
discord.py>=2.3.2
python-dotenv>=1.0.0
langchain>=0.1.0
langchain-openai>=0.1.0
requests>=2.31.0
beautifulsoup4>=4.12.0
ddgs
asyncio>=3.4.3
langchain-community
litellm
openai>=1.66.0
git+https://github.com/adamsoja1/agentic_sdk.git@main
